{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cartData %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.product.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.quantity * item.product.price }}</td>
                    <td>
                        <a href="{{ path('cart_add', {'id' : item.product.id }) }}" class="btn btn-success"> Add </a>
                        <a href="{{ path('cart_remove', {'id' : item.product.id }) }}" class="btn btn-warning"> - Item </a>
                        <a href="{{ path('cart_delete', {'id' : item.product.id }) }}" class="btn btn-danger"> - All </a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5" class="text-center">Empty Cart</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Total</td>
                <td class="text-right">{{ total }}</td>
                <td>
                    <a href="{{ path('cart_delete_all') }}"> delete All </a>
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
